*.pyc
.pydevproject
.project
.DS_Store
*.komodoproject
*.swp
.settings
.coverage
.idea
*.sqlite3
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml