Django>=1.7
djangorestframework
boto
django_compressor

# Authentication
python-social-auth

# Async Tasks
celery
django-celery

# Testing
pytest
pytest-cov
pytest-django

# Caching
django-redis

# Misc
requests
mock
