container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: django_base_project/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: django_base_project.settings