container_commands:
  01_syncdb:    
    command: "django-admin.py migrate"
    leader_only: true
  02_createadmin:
    command: "django-admin.py loaddata users.json"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: {{ project_name }}.settings.dev
